body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/spiration-dark.png)
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Fixing colors: */
.navbar-brand {
    background-color: #4aaaa5;
}

#footer {
    background-color: #666666;
    border-top: medium solid #4aaaa5;
}
